<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <connectionStrings>
    <add name="SalesOrdersModelContainer" connectionString="metadata=res://*/SalesOrdersModel.csdl|res://*/SalesOrdersModel.ssdl|res://*/SalesOrdersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SalesOrderDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/Practices/2010/Unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>
    <container>
      <extension type="Interception"/>
      <register type="DDD.Domain.DomainService.ISalesOrderService, DDD.Domain" mapTo="DDD.Domain.DomainService.SalesOrderService, DDD.Domain">
      </register>
      <register type="DDD.Domain.Repository.IRepositoryContext, DDD.Domain" mapTo="DDD.Repository.EFRepositoryContext, DDD.Repository">
      </register>
      <register type="DDD.Domain.Repository.IRepository`1, DDD.Domain" mapTo="DDD.Repository.EFRepository`1, DDD.Repository">
      </register>

    </container>
  </unity>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>